.container-wrapper {
    background: #f5f5f5;
}
.product-result-title {
    color: #242424;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-top: 15px;
}
.payment-result {
    padding-bottom: 50px;
}
.payment-result .payment-result-left,
.payment-result .payment-result-right {
    color: #666666;
}
.payment-result,
.pr-information-detail .pr-header,
.pr-information-detail .pr-item,
.prr-content .prr-content-item,
.prr-bottom .prr-bottom-item,
.pr-item-main-content,
.pr-footer-item {
    display: flex;
}
.pr-information-detail .pr-header,
.pr-information-detail .pr-item,
.pr-information-detail .pr-footer {
    background: #FFFFFF;
}
.pr-item {
    padding: 0 15px;
    height: 108px;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;;
}
.pr-information-detail .pr-header {
    height: 70px;
    margin-bottom: 15px;
    align-items: center;
    padding: 0 15px;
    font-weight: bold;
}
.payment-result-left {
    width: calc(100% - 398px);
    margin-right: 20px;
}
.payment-result-right {
    width: 378px;
    background: #FFFFFF;
    height: fit-content;
    border-radius: 4px;
    font-size: 14px;
}
.payment-result-right .prr-top {
    text-align: center;
    margin: 20px 0;
}
.prr-content .prr-content-item,
.prr-bottom .prr-bottom-item,
.pr-footer-item {
    justify-content: space-between;
}
.prr-content .prr-content-item {
    margin-bottom: 10px;
}
.prr-bottom .prr-bottom-item {
    margin-bottom: 5px;
}
.pr-footer-item {
    width: 86%;
    margin-bottom: 15px;
}
.prr-bottom-item > div {
    width: 50%;
    color: #242424;
    font-weight: bold;
}
.pr-header .--product-name {
    width: 40%;
}
.prr-content-item-content {
    font-weight: bold;
}
.pr-header .--product-qty {
    width: 15%;
}
.pr-header .--product-into-money {
    width: 31%;
    text-align: right;
    padding-right: 16px;
}
.pr-header > div {
    text-align: center;
}
.--product-into-money {
    text-align: right;
}
.title.pr-item-main-content-child {
    width: 31%;
    font-size: 16px;
    font-weight: bold;
    color: #242424;
}
.--product-qty.pr-item-main-content-child {
    width: 18%;
    text-align: center;
    color: #242424;
}
.--product-into-money.pr-item-main-content-child {
    width: 35%;
    text-align: right;
    color: #072E75;
    font-weight: bold;
}
.pr-footer-item .--product-into-money,
.prr-content-item-content.--product-into-money {
    color: #FF3F3F;
}
.pr-item-main-content {
    width: calc(100% - 80px);
    display: flex;
    align-items: center;
}
.pr-footer-item-content {
    color: #072E75;
    font-weight: bold;
}
.pr-item .--product-name > img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.pr-footer {
    padding: 15px;
}
.prr-content {
    padding: 0 15px 10px 15px;
    margin-bottom: 15px;
}
.prr-bottom {
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 15px 10px 10px 10px;
    padding: 8px;
}
.prr-top-text {
    color: #14BC25;
    font-size: 16px;
    font-weight: bold;
}
.prr-bottom-header {
    color: #666666;
    font-size: 14px;
}
@media only screen and (max-width: 46.1875em) {
    .pr-information-detail .pr-header {
        display: none;
    }
    .payment-result {
        display: block;
    }
    .payment-result .payment-result-right,
    .payment-result .payment-result-left,
    .pr-item-main-content-child {
        width: 100% !important;
    }
    .pr-item-main-content {
        display: block;
    }
    .pr-item-main-content-child {
        text-align: left !important;
    }
    .title.pr-item-main-content-child {

    }
}
@media only screen and (max-width: 360px) {

}